@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


#banner {
    background-image: url("https://images.pexels.com/photos/1695052/pexels-photo-1695052.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    background-position: bottom center;
    height: 70vh;  
    width: 100vw;   /* Lo  puedo poner tambien como 100% */
  }

.product {
    width: 90%;
    height: auto;
}

#subtitulo {
    color:white;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    text-align: left;
}

#banner #subtitulo {
    text-align: center;
    border: 2px solid white;
    position: relative;
    top: 20vh;
    width: 400px;
    margin: 0 auto;
    padding: 50px;
    color: brown;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-color: burlywood;
    opacity: 90%;
}
  
h1 {
    color:brown;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    text-align: left;
}

h2 {
    color:black;
    font-family: 'Bebas Neue', cursive;
    font-size: 48px;
    text-align: left;
}

p {
    color: black;
    text-align: justify;
    text-decoration: solid;
    font-size-adjust: inherit;
}


  html {
      background-color: antiquewhite;
  }

  .cajas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }


  .caja_texto {
      background-color: white;
      width: 30%;
      height: auto;
      padding: 20px;
      margin: 30px;
      text-decoration: none;
  }


@media only screen and (max-width: 600px) {
    .caja_texto{
        width: 90%;
    }
}